@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img {
    max-width: 150px;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation li {
    margin: 0 20px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px;
    margin-right: 10px;
}

.search i {
    color: #fff;
}

.banner {
    position: relative;
}

.bg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.movieTitle {
    width: 200px;
    margin-bottom: 10px;
}

.tv-show-container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 10px;
}

#seasons, #episodes {
    padding: 10px;
    margin-top: 10px;
}

#play-episode {
    background: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#play-episode:hover {
    background: #e41f1f;
}

.video-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#enter-site-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#enter-site-button:hover {
    background-color: #e41f1f;
}
