body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.landing-header .logo {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

#video-player {
  border-radius: 8px;
  margin-bottom: 20px;
}

#enter-site-button {
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

#enter-site-button:hover {
  background-color: #f40612;
}
